In [258]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt

In [259]:
df=pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [260]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

# Kayıp verileri kontrol ediyoruz:

In [261]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

# Hangi kolonların numerik hangilerinin kategorik olduğuna bakıyoruz. object olanlar kategorik

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

# Verileri numerik, kategorik ve target olarak ayırıyoruz. Target kolonumuz: Attrition.

In [263]:
col_num = ["Age",
"DailyRate",
"DistanceFromHome",
"Education",
"EmployeeCount",
"EmployeeNumber",
"EnvironmentSatisfaction",
"HourlyRate",
"JobInvolvement",
"JobLevel",
"JobSatisfaction",
"MonthlyIncome",
"MonthlyRate",
"NumCompaniesWorked",
"PercentSalaryHike",
"PerformanceRating",
"RelationshipSatisfaction",
"StandardHours",
"StockOptionLevel",
"TotalWorkingYears",
"TrainingTimesLastYear",
"WorkLifeBalance",
"YearsAtCompany",
"YearsInCurrentRole",
"YearsSinceLastPromotion",
"YearsWithCurrManager"] #liste

col_cat = ["BusinessTravel","Department","EducationField","Gender","JobRole","MaritalStatus","Over18","OverTime"] #liste

col_tar = "Attrition" #string


df_num = df[col_num]
df_cat = df[col_cat]
y = df[col_tar]

In [264]:
df_num.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [265]:
df_cat.head()

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

In [266]:
y.head()

0    Yes
1     No
2    Yes
3     No
4     No
Name: Attrition, dtype: object

# Kategorik verilere one hot encoding uyguluyoruz

In [267]:
df_dum = pd.get_dummies(df_cat)
df_dum.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,0,1,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,1,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,1,0,1
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0

# one hot enc uyguladığım df ile numerik verileri birleştiriyoruz ve features dfimizi elde ediyoruz

In [268]:
X = pd.concat([df_num,df_dum],axis=1)
X.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,1,0,0,0,1,1,0,1
1,49,279,8,1,1,2,3,61,2,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,0,1,1,0,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,1,0,0,0,1,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,0,0,0,0,0,1,0,1,1,0

# targetımız olan attrition kolonunu 0 ve 1 lere çeviriyoruz.

In [269]:
vals = {"No":0,"Yes":1}
y= y.replace(vals)
print(y) #sadece 0 ve 1 olmalıdır.

0       1
1       0
2       1
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      1
15      0
16      0
17      0
18      0
19      0
20      0
21      1
22      0
23      0
24      1
25      0
26      1
27      0
28      0
29      0
       ..
1440    0
1441    0
1442    1
1443    0
1444    1
1445    0
1446    0
1447    0
1448    0
1449    0
1450    0
1451    0
1452    1
1453    0
1454    0
1455    0
1456    0
1457    0
1458    0
1459    0
1460    0
1461    1
1462    0
1463    0
1464    0
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int64

# Normalize etmeden ve pca uygulamadan modeli deniyorum

In [270]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [271]:
X_train.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
10,35,809,16,3,1,14,1,84,4,1,...,0,0,0,0,0,1,0,1,1,0
1040,40,218,8,1,1,1468,4,55,2,3,...,1,0,0,0,1,0,0,1,1,0
926,43,531,4,4,1,1293,4,56,2,3,...,0,0,1,0,0,0,1,1,1,0
1244,30,1312,2,4,1,1745,4,78,2,1,...,0,1,0,0,0,0,1,1,1,0
741,42,265,5,2,1,1029,4,90,3,5,...,0,0,0,0,0,1,0,1,1,0

# Decision Tree Function

In [272]:
from sklearn import metrics
from sklearn import tree
def predict_dt(X_train,X_test,y_train,y_test):
    clf = tree.DecisionTreeClassifier()
    clf.fit(X_train,y_train)
    
    y_proba = clf.predict_proba(X_test)
    y_pred = clf.predict(X_test)
    
    y_true = y_test
    
    conf_mat = metrics.confusion_matrix(y_true,y_pred)
    x=clf.score(X_test,y_test)
    return (y_true,y_pred,y_proba,x,conf_mat)

# Random Forests Function

In [273]:
from sklearn.ensemble import RandomForestClassifier
def predict_rf(X_train,X_test,y_train,y_test):
    clf = RandomForestClassifier()
    clf.fit(X_train,y_train)
    
    y_proba = clf.predict_proba(X_test)
    y_pred = clf.predict(X_test)
    
    y_true = y_test
    
    conf_mat = metrics.confusion_matrix(y_true,y_pred)
    x=clf.score(X_test,y_test)
    return (y_true,y_pred,y_proba,x,conf_mat)

# Logistic Regression

In [274]:
from sklearn.linear_model import LogisticRegression
def predict_lr(X_train,X_test,y_train,y_test):
    clf = LogisticRegression()
    clf.fit(X_train,y_train)
    
    y_proba = clf.predict_proba(X_test)
    y_pred = clf.predict(X_test)
    
    y_true = y_test
    
    conf_mat = metrics.confusion_matrix(y_true,y_pred)
    x=clf.score(X_test,y_test)
    return (y_true,y_pred,y_proba,x,conf_mat)

In [275]:
predict_dt(X_train,X_test,y_train,y_test)[3] #accuracy for decision tree

0.7573696145124716

In [276]:
predict_rf(X_train,X_test,y_train,y_test)[3] #accuracy for random forest

0.8412698412698413

In [277]:
predict_lr(X_train,X_test,y_train,y_test)[3] #accuracy for logistic regression

0.8775510204081632

In [278]:
predict_dt(X_train,X_test,y_train,y_test)[4] #confusion matrix

array([[320,  48],
       [ 55,  18]], dtype=int64)

In [279]:
predict_rf(X_train,X_test,y_train,y_test)[4]

array([[366,   2],
       [ 66,   7]], dtype=int64)

In [280]:
predict_lr(X_train,X_test,y_train,y_test)[4]

array([[358,  10],
       [ 44,  29]], dtype=int64)

# Standart scaler uyguluyoruz

In [281]:
from sklearn.preprocessing import StandardScaler
a = X.values
a = StandardScaler().fit_transform(a)
X_scaled = pd.DataFrame(a)
X_scaled.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,0.446350,0.742527,-1.010909,-0.891688,0.0,-1.701283,-0.660531,1.383138,0.379672,-0.057788,...,-0.239904,-0.497873,1.873287,-0.244625,-0.534873,-0.918921,1.458650,0.0,-1.591746,1.591746
1,1.322365,-1.297775,-0.147150,-1.868426,0.0,-1.699621,0.254625,-0.240677,-1.026167,-0.057788,...,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
2,0.008343,1.414363,-0.887515,-0.891688,0.0,-1.696298,1.169781,1.284725,-1.026167,-0.961486,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,-0.918921,1.458650,0.0,-1.591746,1.591746
3,-0.429664,1.461466,-0.764121,1.061787,0.0,-1.694636,1.169781,-0.486709,0.379672,-0.961486,...,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,-1.591746,1.591746
4,-1.086676,-0.524295,-0.887515,-1.868426,0.0,-1.691313,-1.575686,-1.274014,0.379672,-0.961486,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241

In [282]:
from sklearn.model_selection import train_test_split
X_scaled_train, X_scaled_test, y_train, y_test = train_test_split(X_scaled,y,test_size=0.3)

In [283]:
X_scaled_train.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
623,-0.758170,0.519407,-0.517332,1.061787,0.0,-0.272283,-0.660531,0.448214,-1.026167,-0.961486,...,-0.239904,2.008543,-0.533821,-0.244625,1.869602,-0.918921,-0.685565,0.0,0.628241,-0.628241
334,0.884358,-0.628417,-0.147150,1.061787,0.0,-0.951889,1.169781,0.448214,0.379672,-0.057788,...,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
961,-0.210661,-0.794517,-0.640727,1.061787,0.0,0.540253,0.254625,1.038693,0.379672,-0.057788,...,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,-0.918921,1.458650,0.0,-1.591746,1.591746
269,-0.101159,1.488736,-0.393938,0.085049,0.0,-1.083157,1.169781,-0.929568,0.379672,-0.961486,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
111,-0.320163,-0.358195,-0.270544,0.085049,0.0,-1.458685,-1.575686,0.005356,-2.432006,-0.057788,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,-0.918921,1.458650,0.0,-1.591746,1.591746

In [284]:
predict_dt(X_scaled_train, X_scaled_test,y_train,y_test)[3] #accuracy

0.782312925170068

In [285]:
predict_rf(X_scaled_train, X_scaled_test,y_train,y_test)[3] #accuracy

0.8526077097505669

In [286]:
predict_lr(X_scaled_train, X_scaled_test,y_train,y_test)[3] #accuracy

0.8820861678004536

# PCA uyguluyoruz

In [287]:
from sklearn.decomposition import PCA
x_pca = PCA()
x_pca.fit(X)
B = x_pca.transform(X)
PCA_X = pd.DataFrame(B)
PCA_X

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,5139.143998,-718.086064,-1047.618010,-246.007460,-29.139912,1.172344,-8.868501,-2.054584,-3.941565,-2.797900,...,2.290181e-15,-6.319298e-16,-3.165589e-16,-8.352219e-16,-1.445605e-15,-4.747706e-16,-3.119056e-16,-2.131969e-16,3.529234e-31,5.993253e-13
1,10528.865117,-1802.653395,-1004.883313,565.244954,2.455457,12.833128,-2.606378,-0.034344,8.309684,-5.394106,...,2.454980e-15,-1.976340e-15,4.675362e-16,-6.686885e-16,-1.341537e-16,8.034094e-17,8.121952e-16,8.847747e-18,2.397452e-32,-1.012614e-12
2,-12089.425912,-3920.145610,-1048.000379,-488.847652,-25.894737,1.329427,-7.618131,-6.553453,-0.682484,2.031263,...,5.801261e-15,-1.974606e-15,-8.439148e-16,-2.778112e-15,-4.741595e-16,2.482979e-17,-2.841501e-16,-4.352415e-16,4.145531e-31,4.792385e-13
3,8689.622039,-3949.517559,-1072.175371,-544.170811,9.361989,0.408195,-5.847106,4.630600,-4.260919,-0.588210,...,2.241609e-15,-1.166225e-15,-3.900310e-17,-1.279311e-15,1.642188e-16,3.578967e-16,2.709615e-16,-1.021746e-16,3.861159e-32,-1.253356e-12
4,2192.360870,-3125.191265,-1012.117622,267.180455,24.639991,-7.619302,-5.857307,-1.018015,-3.507236,3.276469,...,6.378924e-15,-2.926969e-15,7.201920e-17,-2.569945e-15,-2.451760e-16,-2.804815e-16,-6.310948e-16,1.961979e-16,4.738718e-31,3.402889e-13
5,-2588.737012,-3329.833641,-1031.267356,-137.942352,-13.611125,-0.793743,-6.518765,6.185167,-1.965935,-0.768818,...,4.321542e-15,-2.161956e-15,2.940638e-16,-1.889934e-15,-3.839539e-16,2.746300e-16,1.460614e-16,-3.242192e-16,3.013084e-31,1.333619e-12
6,-4503.974567,-3649.640808,-1047.200549,-453.365260,-15.708805,21.519730,-9.639837,-13.548319,4.507759,-2.022926,...,3.750818e-15,-2.533187e-15,4.328417e-16,-2.223001e-15,2.197299e-16,9.130082e-16,1.599392e-16,4.668147e-16,2.012266e-32,6.961075e-13
7,-1134.915624,-3764.306107,-1052.398950,-493.309686,-1.520360,-4.953052,15.699682,-5.490161,6.268748,-1.799796,...,2.194771e-15,-2.446451e-15,7.936642e-16,-1.820545e-15,-3.561983e-16,1.024031e-15,7.150507e-16,1.129312e-16,-4.998119e-32,-1.540898e-12
8,-5398.036030,3247.723769,-962.235465,658.993966,19.811128,-1.379512,15.194708,-0.545083,6.045127,-4.127039,...,-1.451618e-15,2.805348e-16,1.552859e-16,1.440735e-15,-7.864252e-17,-8.911042e-16,7.011729e-16,-1.715635e-16,-1.362629e-31,1.664033e-12
9,2208.357781,-1354.820128,-1045.604698,-438.699878,-29.005455,6.729460,17.363989,4.465125,-2.993050,4.499238,...,1.556393e-15,-1.791670e-16,1.552859e-16,-1.126655e-15,-7.447763e-16,-5.302817e-16,-3.257834e-16,-2.340135e-16,1.811304e-31,1.212901e-12
10,1996.552785,-4159.896717,-1020.306553,48.707359,-19.304409,2.164685,6.511242,-0.172977,-2.330500,-1.610658,...,3.325811e-15,-2.094302e-15,3.634527e-16,-2.250756e-15,-3.006871e-16,1.218320e-15,-4.506835e-16,2.517090e-16,2.766565e-31,5.560394e-13
11,-1723.929981,-2239.900685,-971.035743,711.349954,15.073790,-1.895976,7.095958,5.853981,-3.358811,1.749538,...,3.997149e-15,-1.488883e-15,1.136526e-16,-1.223800e-15,-9.460043e-16,1.190564e-15,3.264726e-16,6.435890e-17,2.419898e-31,-1.454132e-12
12,708.707391,-3621.981950,-1007.282990,190.033588,33.480483,-0.057192,17.783839,-0.566737,1.234248,-1.013820,...,3.804594e-15,-2.883601e-15,8.769309e-16,-1.778911e-15,-4.394650e-16,9.130082e-16,9.055021e-17,3.660332e-17,2.889825e-31,-1.670618e-12
13,-5709.367132,-3609.427776,-1039.065155,-473.682205,-27.338061,-1.088549,9.828781,-3.451353,-4.421662,-3.410985,...,3.540916e-15,-1.919095e-15,7.659086e-16,-2.125856e-15,-1.133354e-15,1.273831e-15,-1.453722e-16,1.129312e-16,2.828195e-31,-5.643535e-13
14,-1547.456463,-4413.967985,-968.711239,759.146860,13.955981,-1.638827,15.569013,-0.909239,-1.881811,2.933009,...,5.398805e-15,-2.779517e-15,-5.941146e-16,-2.223001e-15,-4.186483e-16,1.246075e-15,-2.563945e-16,-1.576857e-16,3.652493e-31,-2.986625e-13
15,-3974.797847,3644.820353,-1026.647193,-514.517363,14.404895,-8.950404,14.413040,6.946851,-4.116197,-3.719777,...,-2.121221e-15,1.536475e-15,9.810143e-16,1.204813e-15,-4.672206e-16,-1.418460e-15,-1.037388e-16,9.905337e-17,-8.079607e-32,-3.792931e-14
16,608.219422,-3230.820216,-980.807392,525.492079,-15.676812,-2.421546,-3.795226,1.748398,-3.095487,-0.103303,...,4.715324e-15,-3.168096e-15,1.182242e-15,-1.612378e-15,-6.684485e-16,1.301586e-15,7.667243e-17,2.031368e-16,2.543157e-31,-1.697538e-12
17,-7130.572218,-3277.321818,-1019.132672,-248.624144,-30.323493,-13.581704,8.568871,-1.869873,-2.575198,0.332123,...,3.730001e-15,-2.175834e-15,3.912083e-16,-2.000956e-15,-5.851818e-16,1.024031e-15,4.891685e-17,2.170146e-16,1.495452e-31,1.371389e-12
18,8064.034600,8604.335829,-1016.794098,-362.565634,-13.723493,11.521639,-7.820437,8.363519,0.763685,2.145699,...,-5.972307e-15,4.858470e-15,-1.475354e-15,2.773003e-15,-1.272132e-15,-3.028284e-15,-2.425167e-16,-1.923802e-16,-9.928500e-32,-7.025583e-13
19,-10103.479612,-2146.555676,-965.531145,507.923528,19.695370,0.734006,-6.952775,-5.303231,-4.194138,-1.636902,...,5.176761e-15,-2.939112e-15,-2.332921e-16,-1.556867e-15,5.319646e-17,-8.619251e-17,-3.119056e-16,-1.715635e-16,3.714123e-31,-1.708927e-12
20,-6178.575693,-2239.669950,-986.614824,199.370324,-30.923014,-11.190530,3.572822,1.777551,2.662520,1.410302,...,3.124583e-15,-1.627661e-15,3.079416e-16,-1.390333e-15,8.789093e-17,5.244301e-16,-2.008833e-16,4.354222e-17,2.643306e-31,2.993020e-12
21,-7449.182892,-2791.817170,-1018.584543,-342.833271,-16.374054,2.724736,-0.156763,-1.537790,7.270434,3.338218,...,2.808863e-15,-2.297264e-15,-6.426869e-16,-1.612378e-15,1.434021e-16,-3.359927e-16,-1.592500e-16,-3.936081e-16,1.595600e-31,1.221406e-14
22,7197.926124,5203.204537,-969.078196,434.759977,10.742940,-8.669918,-0.299023,5.359558,-3.582193,-3.193294,...,-3.089197e-15,2.667514e-15,-5.288089e-17,1.412980e-15,-5.782429e-16,-2.001327e-15,-4.645613e-16,3.660332e-17,1.472340e-31,-9.524673e-13
23,4748.231255,-5467.706269,-984.696872,459.190689,-31.602973,-12.529870,6.979061,-1.171242,-1.449582,1.064686,...,4.654609e-15,-3.154218e-15,2.871249e-16,-2.209123e-15,-3.284427e-16,1.384853e-15,-8.986103e-17,-1.229912e-16,3.074714e-31,-1.507289e-12
24,2641.053081,-3651.905588,-996.315054,156.701417,-18.334861,-0.235917,-3.356195,-0.421123,-4.316879,0.948305,...,4.876654e-15,-2.821151e-15,4.120250e-16,-2.223001e-15,-1.133354e-15,4.689190e-16,-4.229279e-16,4.354222e-17,4.677088e-31,-8.649750e-13
25,-3062.904133,12729.070043,-990.292745,-403.577786,6.595609,2.549123,-3.657610,-0.566718,-3.662584,-3.438906,...,-7.269880e-15,6.282678e-15,5.369251e-16,3.910982e-15,-1.077843e-15,-4.971174e-15,2.987170e-16,-2.756469e-16,-2.163815e-31,7.223772e-13
26,-9731.174469,-2186.226822,-1003.042464,-245.929045,-6.384233,1.212238,7.862035,5.686582,6.393649,1.107734,...,4.413482e-15,-2.730945e-15,3.079416e-16,-1.556867e-15,-2.798704e-16,8.034094e-17,6.595395e-16,1.059923e-16,1.865230e-31,-1.827325e-12
27,6866.483227,43.649202,-989.049199,159.739715,16.177477,3.810587,-1.315737,0.135505,-3.927195,-4.788600,...,4.080058e-16,-3.890685e-16,1.414081e-16,1.084676e-16,-7.864252e-17,-6.690596e-16,-2.047209e-17,-2.478913e-16,3.938196e-32,-2.047174e-12
28,-12056.407822,4242.585947,-944.488545,409.378726,22.514624,11.025961,-1.485324,12.685064,-1.237757,1.754672,...,2.935141e-16,1.097590e-15,-4.830923e-16,7.884793e-16,-5.227317e-16,-1.057638e-15,-2.425167e-16,4.354222e-17,1.934564e-31,-2.202281e-13
29,9009.039318,12088.184459,-964.283499,150.375651,-19.525676,-10.737920,-6.633595,-12.976996,-2.972841,0.648166,...,-7.266411e-15,5.956550e-15,2.316138e-16,4.355071e-15,-9.668209e-16,-4.138507e-15,6.279464e-17,-2.131969e-16,-2.718483e-31,-9.952436e-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,-5171.590506,-1163.824904,1008.823952,61.400640,-29.730000,2.039789,-6.426138,-1.866052,-2.758584,9.086294,...,1.320470e-15,-9.892828e-16,2.316138e-16,-2.554655e-18,-3.839539e-16,1.162808e-15,5.346394e-16,9.905337e-17,-1.547518e-31,2.319126e-12
1441,11906.176505,-685.671812,992.396852,52.839176,9.334829,18.900423,-11.066387,2.694052,6.904855,-7.722053,...,-2.759599e-15,2.180847e-16,2.316138e-16,7.884793e-16,5.874913e-16,8.574971e-16,3.958615e-16,-3.972451e-17,-3.026632e-31,9.079651e-13
1442,11731.476075,-2198.519118,964.487886,-372.178516,31.321085,-8.872281,-7.764555,-2.004208,-1.113151,0.060491,...,-3.465989e-16,-2.086573e-16,-3.581922e-16,-3.356216e-16,1.052397e-15,4.689190e-16,-6.449725e-16,4.529370e-16,-1.339517e-31,-2.879652e-13
1443,3503.723372,12241.829968,1056.347475,442.776637,9.826952,-5.721647,-6.095026,8.397843,-3.409576,-1.426449,...,-8.796437e-15,5.996449e-15,-7.398314e-16,4.521604e-15,-8.002875e-16,-3.666662e-15,-1.314944e-16,8.517558e-17,-2.225445e-31,2.235326e-12
1444,-10806.275681,-3728.177547,1040.002968,446.330024,-5.134587,26.116805,-5.941107,1.399235,-3.921982,-4.054744,...,5.927896e-15,-3.495958e-15,3.079416e-16,-2.056467e-15,1.253625e-15,4.134078e-16,-6.594301e-18,-8.135787e-17,2.396787e-31,1.016519e-12
1445,-8375.840218,7413.041638,1045.771296,178.436268,6.569210,2.587884,19.438213,5.839634,7.720143,0.229782,...,-7.880503e-15,3.304158e-15,5.120252e-17,3.619548e-15,1.989132e-16,-5.857929e-16,9.232175e-16,5.153870e-16,-6.262194e-31,-9.199446e-14
1446,-5320.875766,424.570416,1021.312161,46.223396,-27.938090,-1.530483,18.809252,1.774289,5.912366,-2.697192,...,-2.270407e-15,-2.641684e-16,4.883528e-16,9.411349e-16,5.874913e-16,6.076969e-16,7.566840e-16,8.517558e-17,-3.920263e-31,-3.098627e-12
1447,-3916.687686,-940.181366,1042.438063,444.997517,-21.225488,7.289394,5.526990,14.227017,9.247304,-0.342038,...,5.849476e-16,-1.159286e-15,-3.859478e-16,5.295650e-17,1.142603e-15,5.258536e-17,-2.047209e-17,-6.642250e-16,2.397452e-32,-9.965964e-13
1448,-1984.108230,2516.255536,1009.971832,-183.772304,10.255919,-0.693896,-6.708465,-3.955139,-3.988817,-0.242143,...,-2.787355e-15,1.130549e-15,3.634527e-16,1.551758e-15,-4.117094e-16,-2.527260e-16,-7.598324e-17,-3.311581e-16,-1.116109e-31,-2.779403e-12
1449,-3186.959141,-3939.325224,1023.424631,213.890612,-10.689003,-3.251825,-7.566989,-0.409016,-0.956427,-1.266232,...,2.184363e-15,-2.363184e-15,3.981472e-16,-9.184887e-16,9.483138e-16,1.745675e-15,3.542282e-16,2.100757e-16,-9.928500e-32,-1.007143e-12
1450,2422.688432,2235.252129,994.106797,-407.418773,36.179760,-3.470372,17.407840,-1.537013,0.500514,-2.793967,...,-6.286292e-15,2.882620e-15,3.912083e-16,2.550958e-15,-2.798704e-16,8.019859e-16,1.321836e-16,3.002813e-16,-4.914043e-31,3.286746e-12
1451,-8369.611317,-821.267329,1050.127391,408.625817,-33.027999,3.116563,-0.037279,4.648951,-3.638906,-2.722531,...,1.122712e-15,-1.110713e-15,-1.361476e-16,-1.690881e-16,-5.227317e-16,1.273831e-15,-4.090501e-16,1.961979e-16,2.735750e-31,-7.302382e-13
1452,-47.940876,225.254423,1013.180070,-137.368407,-26.912800,8.775593,-10.876943,-7.291286,-3.002146,-2.410991,...,-7.334422e-16,1.591041e-16,1.414081e-16,1.135424e-15,1.989132e-16,7.187192e-16,3.125948e-16,1.908853e-18,-2.471964e-31,-1.464185e-13
1453,62.421408,144.845000,999.125812,-379.233455,-32.470870,-3.720340,1.112966,-3.090027,-2.148790,-1.343295,...,-2.381430e-15,8.460546e-16,-6.079924e-16,6.080680e-16,-3.284427e-16,3.856523e-16,3.503906e-17,-1.923802e-16,-1.455073e-31,-6.506302e-13
1454,8946.706445,-2022.242143,1030.869606,348.298689,16.003161,8.803674,8.585952,-7.652521,-0.435996,-2.427601,...,-7.577283e-16,-2.086573e-16,-5.663590e-16,2.472455e-16,5.319801e-16,9.962749e-16,-6.594301e-18,-4.666340e-17,-1.424258e-31,-8.364377e-13
1455,-11729.119012,-3219.368190,996.302501,-562.760711,16.483038,4.766709,-8.167281,-4.506118,-1.287817,-0.669230,...,1.268429e-15,-1.239083e-15,9.283588e-17,-8.074663e-16,5.042246e-16,1.384853e-15,-2.008833e-16,-1.229912e-16,2.397452e-32,-2.252591e-12
1456,10239.413024,-1234.748671,983.695276,-477.079134,-12.809747,-0.059506,8.023060,1.352974,-1.479600,-0.158674,...,-3.312976e-15,1.533005e-15,-6.675868e-17,1.218691e-15,4.417745e-16,1.745675e-15,8.815841e-16,4.251814e-16,-6.547232e-31,4.112723e-13
1457,-1946.091052,-4427.882626,993.390539,-453.212678,-30.075445,11.093547,-9.511199,0.904319,-1.836870,9.629065,...,9.214840e-16,-1.268573e-15,-1.430865e-16,-1.279311e-15,-2.313137e-17,2.162009e-15,-2.425167e-16,2.308924e-16,3.630047e-32,-3.887375e-13
1458,-5498.583842,-3306.629830,1056.126248,459.099148,5.052897,-1.437018,-8.689189,-2.224859,-2.778496,-2.767914,...,2.607635e-15,-1.795929e-15,-4.900312e-16,-7.935886e-16,6.430024e-16,1.606898e-15,-1.314944e-16,-1.576857e-16,1.349081e-31,-2.745257e-12
1459,9256.915014,-2859.861693,974.472103,-655.389064,21.680208,-3.530211,3.850092,0.984334,-2.665802,4.102430,...,-1.134163e-15,1.172183e-15,-5.802368e-16,-6.131773e-16,-2.798704e-16,8.574971e-16,4.891685e-17,-1.993191e-16,-1.524407e-31,4.468226e-13
1460,-5928.531447,-2480.260349,1049.313702,279.643337,-6.010301,-3.484900,18.970519,-0.041538,-1.424483,-0.738965,...,6.106113e-17,-8.643827e-16,-4.594199e-17,-5.021550e-16,1.989132e-16,1.468120e-15,9.055021e-17,-2.340135e-16,1.164857e-32,-9.844634e-13
1461,2450.445185,4252.223406,1058.173700,327.664671,26.784611,8.997116,16.849691,-12.980637,-2.886224,2.112070,...,-4.527282e-15,2.247711e-15,3.356972e-16,2.495447e-15,-2.798704e-16,-5.857929e-16,6.040284e-16,-2.270746e-16,-3.927967e-31,-2.859938e-12
1462,-5253.576653,5745.244977,1052.122458,30.709002,6.829137,3.228065,15.182107,9.796113,-4.242548,-0.484072,...,-4.379831e-15,2.455878e-15,-8.063646e-17,2.301158e-15,-9.668209e-16,-1.251927e-15,3.125948e-16,2.966443e-17,-1.948111e-31,-5.983771e-13
1463,-10375.183828,3857.444804,1079.326589,434.490730,-6.980490,-11.106712,-2.698043,2.092411,4.356141,-1.258309,...,-2.464696e-15,8.078907e-16,-5.802368e-16,1.190935e-15,6.152469e-16,-1.029882e-15,-5.200724e-16,1.059923e-16,-6.773828e-34,2.991538e-12
1464,6914.988952,-3824.230657,995.003907,-441.780944,37.766111,-7.901242,-3.301397,0.850542,2.610479,1.674727,...,-1.187940e-15,2.562486e-16,-8.508537e-16,-5.992995e-16,1.198114e-15,8.852526e-16,-6.210545e-17,-3.936081e-16,-1.485888e-31,5.729410e-13
1465,-2181.024558,-3848.070798,1023.712131,-143.499554,26.302034,9.249766,12.648238,-1.123794,0.632029,8.832640,...,1.339195e-16,-5.677450e-16,2.385527e-16,-8.907331e-16,5.874913e-16,2.273031e-15,3.125948e-16,4.182425e-16,-2.040556e-31,2.414866e-12
1466,7281.771489,3191.211991,1044.998508,115.413378,24.506970,-4.245540,-3.057484,-1.204377,0.528566,-4.921837,...,-3.162055e-15,2.346590e-15,-2.055366e-16,1.232568e-15,-4.672206e-16,-9.743709e-16,7.667243e-17,-2.340135e-16,-1.886481e-31,7.143121e-13
1467,-9143.942856,9.825064,1087.283808,598.828730,-19.995997,-11.837807,-4.040933,0.578321,5.204594,0.609187,...,1.217765e-16,-1.409086e-15,-2.512531e-17,2.750011e-16,1.177297e-15,9.130082e-16,1.321836e-16,5.084481e-16,-1.555222e-31,1.311783e-12
1468,-1113.966965,-1070.216166,1023.787096,-282.395163,4.437473,14.443349,-9.465084,0.615487,-1.073737,0.171010,...,-7.716061e-16,5.962544e-16,-2.512531e-17,2.750011e-16,1.850199e-17,6.909636e-16,1.321836e-16,-4.144248e-16,-7.155160e-32,-3.095957e-15
1469,-4165.987413,-1932.667389,1052.634451,116.381900,-14.707590,-3.010743,-1.662210,-2.001212,-2.967450,-1.479941,...,4.392308e-16,-4.012116e-16,-3.998256e-16,-8.352219e-16,3.376911e-16,1.301586e-15,-6.172170e-16,4.113036e-16,6.249312e-32,1.141330e-12

# PCA dönüşümünde hangi kolonun ne kadar bilgi taşıdığını yazdırıyoruz. (explained variance ratio)

In [288]:
print(x_pca.explained_variance_ratio_) #sonuçta %99 bilginin ilk 2 kolonda olduğunu görüyoruz.

[6.91318432e-01 3.01516516e-01 4.94915193e-03 2.20695927e-03
 5.62404980e-06 1.02574469e-06 8.92903467e-07 6.33509634e-07
 1.83282491e-07 1.60744736e-07 8.19512594e-08 7.11478500e-08
 5.58137480e-08 4.91272465e-08 2.26218227e-08 1.66030470e-08
 1.61487977e-08 1.57548659e-08 1.34852041e-08 1.18743168e-08
 8.57210028e-09 6.80819674e-09 6.69572865e-09 6.49353945e-09
 5.33599952e-09 4.86302655e-09 4.69651496e-09 4.23627557e-09
 2.52202001e-09 1.98508796e-09 1.89684168e-09 1.70547586e-09
 1.67749718e-09 1.50282235e-09 1.24820811e-09 1.15864492e-09
 1.04821789e-09 8.75499888e-10 7.91073013e-10 7.53788971e-10
 6.71369762e-10 1.88805413e-10 1.61609564e-10 9.34167675e-11
 4.92169281e-11 6.73876854e-33 6.73876854e-33 6.73876854e-33
 6.73876854e-33 6.73876854e-33 6.73876854e-33 6.73876854e-33
 6.73876854e-33 6.73876854e-33 6.73876854e-33]

# sonuçta %99 bilginin ilk 2 kolonda olduğunu görüyoruz. ilk 2 kolonu alıyoruz

In [289]:
X_necessary = pd.DataFrame()
X_necessary[0] = PCA_X[0]
X_necessary[1] = PCA_X[1]
X_necessary.head()

              0            1
0   5139.143998  -718.086064
1  10528.865117 -1802.653395
2 -12089.425912 -3920.145610
3   8689.622039 -3949.517559
4   2192.360870 -3125.191265

In [290]:
from sklearn.model_selection import train_test_split
X_necessary_train, X_necessary_test, y_train, y_test = train_test_split(X_necessary,y,test_size=0.3)

In [291]:
X_necessary_train.head()

                 0            1
702   -4300.409748   937.066901
264     497.956711 -3039.704646
1089 -11362.457193 -1756.607370
972    4787.749053 -5092.110410
1302  -4766.362970 -3608.402998

In [292]:
predict_dt(X_necessary_train, X_necessary_test,y_train,y_test)[3] #accuracy

0.7188208616780045

In [293]:
predict_rf(X_necessary_train, X_necessary_test,y_train,y_test)[3] #accuracy

0.8163265306122449

In [294]:
predict_lr(X_necessary_train, X_necessary_test,y_train,y_test)[3] #accuracy

0.8707482993197279